#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files

#.env
.env
.export

#credentials
terraform-admin.json
mbelousov-terraform-*.json

# Local bkp
local_bkp

#macOS
.DS_Store
